@import 'color-var', 'fonts-var';

.about {
    margin-top: 46px;
}
.about__title {
    font-size: 32px;
    line-height: auto;
    font-weight: 700;
    color: $main-white;
    text-align: center;
}
.about__text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: $main-white;
    text-align: center;
}
.about__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;    
    justify-content: space-evenly;
    // align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.about__item {
    min-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about__icon {
    border: 16px solid $spec-grey;
    border-radius: 50%;

    background-color: $spec-grey;
}
.about__icon-text {
    font-size: 18px;
    line-height: auto;
    font-weight: 700;
    color: $main-white;
}